In [1]:
from Functions import LoadData
from Functions import TestStrategy
import os

In [2]:
current_directory = os.getcwd()
path = os.path.join(current_directory, 'Stocks_financials')

loader = LoadData(path)
prices, financials = loader.Load(start_date='2014-01-09', end_date=None)

Data processed for the following tickers: MSFT, V, NFLX, SO, DUK, PLD, VZ, T, CVX, VMC, NVDA, GE, KO, JNJ, GS, HD, AMD, ADM, META, GOOGL, TSLA, JPM, XOM, AAPL
Downloading data for MSFT...

[*********************100%***********************]  1 of 1 completed

Downloading data for V...

[*********************100%***********************]  1 of 1 completed

Downloading data for NFLX...

[*********************100%***********************]  1 of 1 completed

Downloading data for SO...

[*********************100%***********************]  1 of 1 completed

Downloading data for DUK...

[*********************100%***********************]  1 of 1 completed

Downloading data for PLD...

[*********************100%***********************]  1 of 1 completed

Downloading data for VZ...

[*********************100%***********************]  1 of 1 completed

Downloading data for T...

[*********************100%***********************]  1 of 1 completed

Downloading data for CVX...

[*********************100%***********************]  1 of 1 completed

Downloading data for VMC...

[*********************100%***********************]  1 of 1 completed

Downloading data for NVDA...

[*********************100%***********************]  1 of 1 completed

Downloading data for GE...

[*********************100%***********************]  1 of 1 completed

Downloading data for KO...

[*********************100%***********************]  1 of 1 completed

Downloading data for JNJ...

[*********************100%***********************]  1 of 1 completed

Downloading data for GS...

[*********************100%***********************]  1 of 1 completed

Downloading data for HD...

[*********************100%***********************]  1 of 1 completed

Downloading data for AMD...

[*********************100%***********************]  1 of 1 completed

Downloading data for ADM...

[*********************100%***********************]  1 of 1 completed

Downloading data for META...

[*********************100%***********************]  1 of 1 completed

Downloading data for GOOGL...

[*********************100%***********************]  1 of 1 completed

Downloading data for TSLA...

[*********************100%***********************]  1 of 1 completed

Downloading data for JPM...

[*********************100%***********************]  1 of 1 completed

Downloading data for XOM...

[*********************100%***********************]  1 of 1 completed

Downloading data for AAPL...

[*********************100%***********************]  1 of 1 completed

In [3]:
prices

{'MSFT': Date
 2014-01-09     35.529999
 2014-01-10     36.040001
 2014-01-13     34.980000
 2014-01-14     35.779999
 2014-01-15     36.759998
                  ...
 2024-09-13    430.589996
 2024-09-16    431.339996
 2024-09-17    435.149994
 2024-09-18    430.809998
 2024-09-19    438.690002
 Name: Close, Length: 2692, dtype: float64,
 'V': Date
 2014-01-09     55.477501
 2014-01-10     55.282501
 2014-01-13     54.724998
 2014-01-14     55.662498
 2014-01-15     55.939999
                  ...
 2024-09-13    287.350006
 2024-09-16    290.480011
 2024-09-17    291.559998
 2024-09-18    288.480011
 2024-09-19    285.250000
 Name: Close, Length: 2692, dtype: float64,
 'NFLX': Date
 2014-01-09     48.150002
 2014-01-10     47.448570
 2014-01-13     48.115715
 2014-01-14     48.279999
 2014-01-15     47.197144
                  ...
 2024-09-13    697.059998
 2024-09-16    696.500000
 2024-09-17    706.909973
 2024-09-18    690.469971
 2024-09-19    704.320007
 Name: Close, Length: 2692, dtype: float64,
 'SO': Date
 2014-01-09    40.619999
 2014-01-10    41.389999
 2014-01-13    41.270000
 2014-01-14    41.099998
 2014-01-15    41.080002
                 ...
 2024-09-13    89.440002
 2024-09-16    89.889999
 2024-09-17    89.650002
 2024-09-18    89.010002
 2024-09-19    88.875000
 Name: Close, Length: 2692, dtype: float64,
 'DUK': Date
 2014-01-09     67.870003
 2014-01-10     68.589996
 2014-01-13     67.769997
 2014-01-14     67.570000
 2014-01-15     67.129997
                  ...
 2024-09-13    117.309998
 2024-09-16    117.699997
 2024-09-17    116.730003
 2024-09-18    115.879997
 2024-09-19    115.089996
 Name: Close, Length: 2692, dtype: float64,
 'PLD': Date
 2014-01-09     37.200001
 2014-01-10     37.599998
 2014-01-13     36.750000
 2014-01-14     37.220001
 2014-01-15     37.509998
                  ...
 2024-09-13    129.979996
 2024-09-16    129.279999
 2024-09-17    128.869995
 2024-09-18    127.019997
 2024-09-19    128.520004
 Name: Close, Length: 2692, dtype: float64,
 'VZ': Date
 2014-01-09    47.500000
 2014-01-10    47.750000
 2014-01-13    47.029999
 2014-01-14    47.080002
 2014-01-15    48.270000
                 ...
 2024-09-13    44.430000
 2024-09-16    45.000000
 2024-09-17    44.080002
 2024-09-18    43.880001
 2024-09-19    43.930500
 Name: Close, Length: 2692, dtype: float64,
 'T': Date
 2014-01-09    25.332327
 2014-01-10    25.392750
 2014-01-13    25.151056
 2014-01-14    25.287008
 2014-01-15    25.521149
                 ...
 2024-09-13    21.639999
 2024-09-16    22.270000
 2024-09-17    21.780001
 2024-09-18    21.730000
 2024-09-19    21.357500
 Name: Close, Length: 2692, dtype: float64,
 'CVX': Date
 2014-01-09    123.290001
 2014-01-10    121.010002
 2014-01-13    119.250000
 2014-01-14    119.570000
 2014-01-15    119.180000
                  ...
 2024-09-13    140.610001
 2024-09-16    142.089996
 2024-09-17    143.410004
 2024-09-18    143.960007
 2024-09-19    144.990005
 Name: Close, Length: 2692, dtype: float64,
 'VMC': Date
 2014-01-09     59.820000
 2014-01-10     59.419998
 2014-01-13     58.660000
 2014-01-14     59.209999
 2014-01-15     59.680000
                  ...
 2024-09-13    237.470001
 2024-09-16    242.869995
 2024-09-17    245.119995
 2024-09-18    244.399994
 2024-09-19    253.729996
 Name: Close, Length: 2692, dtype: float64,
 'NVDA': Date
 2014-01-09      0.393750
 2014-01-10      0.393250
 2014-01-13      0.384000
 2014-01-14      0.396000
 2014-01-15      0.400250
                  ...
 2024-09-13    119.099998
 2024-09-16    116.779999
 2024-09-17    115.589996
 2024-09-18    113.370003
 2024-09-19    117.870003
 Name: Close, Length: 2692, dtype: float64,
 'GE': Date
 2014-01-09    130.450150
 2014-01-10    129.204117
 2014-01-13    128.101852
 2014-01-14    129.252029
 2014-01-15    131.025238
                  ...
 2024-09-13    178.279999
 2024-09-16    181.440002
 2024-09-17    180.330002
 2024-09-18    183.550003
 2024-09-19    186.160004
 Name: Close, Length: 2692, dtype: float64,
 'KO': Date
 2014-01-09    39.730000
 2014-01-10    40.130001
 2014-01-13    39.529999
 2014-01-14    39.689999
 2014-01-15    39.759998
                 ...
 2024-09-13    71.410004
 2024-09-16    72.099998
 2024-09-17    71.800003
 2024-09-18    71.750000
 2024-09-19    70.629997
 Name: Close, Length: 2692, dtype: float64,
 'JNJ': Date
 2014-01-09     94.730003
 2014-01-10     94.739998
 2014-01-13     94.500000
 2014-01-14     94.720001
 2014-01-15     94.800003
                  ...
 2024-09-13    165.520004
 2024-09-16    166.990005
 2024-09-17    167.070007
 2024-09-18    166.149994
 2024-09-19    164.830002
 Name: Close, Length: 2692, dtype: float64,
 'GS': Date
 2014-01-09    177.399994
 2014-01-10    178.389999
 2014-01-13    175.880005
 2014-01-14    176.600006
 2014-01-15    178.750000
                  ...
 2024-09-13    478.989990
 2024-09-16    485.160004
 2024-09-17    485.390015
 2024-09-18    484.579987
 2024-09-19    503.940002
 Name: Close, Length: 2692, dtype: float64,
 'HD': Date
 2014-01-09     81.570000
 2014-01-10     82.010002
 2014-01-13     80.970001
 2014-01-14     81.010002
 2014-01-15     81.070000
                  ...
 2024-09-13    379.989990
 2024-09-16    382.010010
 2024-09-17    383.239990
 2024-09-18    384.010010
 2024-09-19    390.440002
 Name: Close, Length: 2692, dtype: float64,
 'AMD': Date
 2014-01-09      4.090000
 2014-01-10      4.170000
 2014-01-13      4.130000
 2014-01-14      4.300000
 2014-01-15      4.470000
                  ...
 2024-09-13    152.309998
 2024-09-16    152.080002
 2024-09-17    150.820007
 2024-09-18    148.289993
 2024-09-19    156.740005
 Name: Close, Length: 2692, dtype: float64,
 'ADM': Date
 2014-01-09    42.160000
 2014-01-10    41.980000
 2014-01-13    41.529999
 2014-01-14    42.330002
 2014-01-15    42.450001
                 ...
 2024-09-13    60.389999
 2024-09-16    60.410000
 2024-09-17    60.459999
 2024-09-18    60.529999
 2024-09-19    62.455002
 Name: Close, Length: 2692, dtype: float64,
 'META': Date
 2014-01-09     57.220001
 2014-01-10     57.939999
 2014-01-13     55.910000
 2014-01-14     57.740002
 2014-01-15     57.599998
                  ...
 2024-09-13    524.619995
 2024-09-16    533.280029
 2024-09-17    536.320007
 2024-09-18    537.950012
 2024-09-19    559.099976
 Name: Close, Length: 2692, dtype: float64,
 'GOOGL': Date
 2014-01-09     28.284285
 2014-01-10     28.282784
 2014-01-13     28.102604
 2014-01-14     28.763763
 2014-01-15     28.744244
                  ...
 2024-09-13    157.460007
 2024-09-16    158.059998
 2024-09-17    159.320007
 2024-09-18    159.809998
 2024-09-19    162.139999
 Name: Close, Length: 2692, dtype: float64,
 'TSLA': Date
 2014-01-09      9.835333
 2014-01-10      9.714667
 2014-01-13      9.289333
 2014-01-14     10.751333
 2014-01-15     10.942000
                  ...
 2024-09-13    230.289993
 2024-09-16    226.779999
 2024-09-17    227.869995
 2024-09-18    227.199997
 2024-09-19    243.919998
 Name: Close, Length: 2692, dtype: float64,
 'JPM': Date
 2014-01-09     58.759998
 2014-01-10     58.490002
 2014-01-13     57.700001
 2014-01-14     57.740002
 2014-01-15     59.490002
                  ...
 2024-09-13    204.320007
 2024-09-16    207.860001
 2024-09-17    209.250000
 2024-09-18    207.529999
 2024-09-19    210.619995
 Name: Close, Length: 2692, dtype: float64,
 'XOM': Date
 2014-01-09     99.760002
 2014-01-10    100.519997
 2014-01-13     98.550003
 2014-01-14     99.120003
 2014-01-15     98.779999
                  ...
 2024-09-13    111.150002
 2024-09-16    112.709999
 2024-09-17    114.180000
 2024-09-18    114.580002
 2024-09-19    116.040001
 Name: Close, Length: 2692, dtype: float64,
 'AAPL': Date
 2014-01-09     19.161428
 2014-01-10     19.033571
 2014-01-13     19.133215
 2014-01-14     19.513929
 2014-01-15     19.905714
                  ...
 2024-09-13    222.500000
 2024-09-16    216.320007
 2024-09-17    216.789993
 2024-09-18    220.690002
 2024-09-19    228.869995
 Name: Close, Length: 2692, dtype: float64}

In [4]:
financials

{'MSFT':                                       Financial Ratio    JUN '24    MAR '24  \
 0                                        Gross Margin  69.764444  69.894414
 1                                       SG&A to Sales  25.120144   25.19063
 2                                    Operating Margin    44.6443  44.703784
 3                                       Pretax Margin  43.972797  44.493288
 4                                          Net Margin  35.955973  36.427231
 ..                                                ...        ...        ...
 95                          Net Debt/Total Equity (%)   8.309464  10.352673
 96                              Total Debt/Equity (%)   36.44707  41.962536
 97                             Net Debt/Total Capital   6.089881   7.292539
 98                           Total Debt/Total Capital  26.711508   29.55888
 99  All figures in billions of U.S. Dollar except ...        NaN        NaN

       DEC '23    SEP '23    JUN '23    MAR '23    DEC '22    SEP '22  \
 0    69.74818  69.441162  68.920086  68.449018   68.15977  68.260002
 1   25.573966  25.879254   26.58094  27.019958  26.994914  26.569494
 2   44.174213  43.561907  42.339145   41.42906  41.164855  41.690508
 3   44.471687  43.526636  42.144728    40.9801  40.465668  41.740244
 4   36.268526  35.314919  34.146238   33.24807  33.048007  34.366121
 ..        ...        ...        ...        ...        ...        ...
 95   12.73398 -17.339181 -15.430384 -12.900459 -11.752468 -17.357086
 96  46.736448  47.881421  38.521891  40.739048  42.583108  44.441884
 97    8.67813 -11.725057 -11.139311  -9.166226  -8.242539 -12.016657
 98  31.850606  32.378253  27.809244  28.946514  29.865465  30.768003
 99        NaN        NaN        NaN        NaN        NaN        NaN

       JUN '22  ...     DEC '16     SEP '16    JUN '16    MAR '16    DEC '15  \
 0   68.401674  ...   62.129601   61.268226  61.296417  62.524533  63.685091
 1   26.346396  ...   35.508453   36.206217   36.89474  36.152694  35.948416
 2   42.055278  ...   26.621149   25.062009  24.401677   26.37184  27.736675
 3   42.223231  ...   26.305241   24.415262  23.320149  17.011393   18.47241
 4   36.686337  ...   21.300542    20.35629   19.83352  12.172065  13.411366
 ..        ...  ...         ...         ...        ...        ...        ...
 95 -15.826038  ...  -52.689328  -86.980617 -81.938136 -79.081892 -75.815316
 96  47.075212  ...  125.748085  107.602456  75.346195  62.019089   57.86533
 97 -10.760507  ...  -23.339878  -41.897682  -46.72935 -48.810231 -48.025312
 98  32.007577  ...   55.702836   51.831013  42.969963  38.278878  36.654869
 99        NaN  ...         NaN         NaN        NaN        NaN        NaN

       SEP '15    JUN '15    MAR '15    DEC '14    SEP '14
 0    64.49804   64.46457  64.891016  65.749239  67.076933
 1   35.316522  34.816934  35.168267  35.301497  35.967791
 2   29.181518  29.647636  29.722749  30.447742  31.109142
 3   20.125032  19.905993  28.413241  29.249046  29.876154
 4   13.941171  13.114701  21.172311  22.167303  23.379721
 ..        ...        ...        ...        ...        ...
 95 -78.491833 -76.463169 -70.529889  -67.41584 -72.610624
 96  49.799212  44.069278  35.357032  30.810087  26.305867
 97 -52.398028 -53.073889 -52.106557 -51.537188 -57.487927
 98  33.243975  30.588949  26.121311  23.553296  20.827114
 99        NaN        NaN        NaN        NaN        NaN

 [100 rows x 41 columns],
 'V':                                       Financial Ratio    JUN '24    MAR '24  \
 0                                       SG&A to Sales  10.075033   9.823965
 1                                    Operating Margin  67.223209  67.364752
 2                                       Pretax Margin    66.3841  65.425734
 3                                          Net Margin  53.891975  53.038868
 4                               Free Cash Flow Margin  54.298643  57.783896
 ..                                                ...        ...        ...
 91                          Net Debt/Total Equity (%)   2.771275   0.770656
 92                              Total Debt/Equity (%)  51.856327  50.890453
 93                             Net Debt/Total Capital   1.824932   0.510739
 94                           Total Debt/Total Capital  34.148282  33.726755
 95  All figures in millions of U.S. Dollar except ...        NaN        NaN

       DEC '23    SEP '23    JUN '23    MAR '23    DEC '22    SEP '22  \
 0    9.382028   9.573393   9.625836    9.84088  10.249445  10.119413
 1   67.605169  67.427189   67.33059  67.152955   67.14811  67.383146
 2   66.270876  64.425933  63.676919  61.169028  60.343857  61.876493
 3    53.07487  52.031973  51.019446  49.979021  49.239739  49.914705
 4   57.332614  60.319113   58.60639  58.645063  58.773644  60.999659
 ..        ...        ...        ...        ...        ...        ...
 91  -1.948003  -4.765962   -1.89323   3.798781   5.172787   5.907647
 92  52.105303   54.16828  52.743644  53.431868  55.484238  64.556926
 93  -1.280694  -3.091402  -1.239482   2.475875   3.326889   3.590033
 94  34.256073  35.135814  34.530827  34.824492  35.684799  39.230756
 95        NaN        NaN        NaN        NaN        NaN        NaN

       JUN '22  ...    DEC '16    SEP '16    JUN '16    MAR '16    DEC '15  \
 0   10.166655  ...  11.603455  11.881713  12.242913  12.492997  12.628884
 1   67.512998  ...    67.2362  66.463334  66.578655  65.735294  65.675887
 2   62.552525  ...  52.271874  53.122928  54.092551  66.743697  66.642964
 3   50.829713  ...  37.489047  39.311762  38.632574  47.913165  47.536088
 4    57.19322  ...  34.641382  33.490253  30.127849  43.431373  45.267724
 ..        ...  ...        ...        ...        ...        ...        ...
 91  10.571259  ...  18.603039  17.826325  18.582265 -17.445333 -22.150224
 92  67.060282  ...  51.853369  48.255955  48.371767  54.498644  53.864161
 93   6.327811  ...  12.250659  12.024019  12.524124 -11.291577 -14.395961
 94  40.141368  ...     34.147  32.549084  32.601733  35.274513  35.007607
 95        NaN  ...        NaN        NaN        NaN        NaN        NaN

       SEP '15    JUN '15    MAR '15    DEC '14    SEP '14
 0   12.644092  12.852711    13.1537   13.66695  13.659266
 1   65.403458  64.920963  64.872865  64.281847  64.163124
 2   64.805476  61.028217  61.662239  61.126151  60.809321
 3   45.482709  43.381593  42.018975  43.181994  42.670446
 4    44.45245  45.353819  45.055028  53.275582  52.369706
 ..        ...        ...        ...        ...        ...
 91 -24.003083 -20.487652 -20.483762 -21.394317 -20.019699
 92          0          0          0          0          0
 93 -24.003083 -20.487652 -20.483762 -21.394317 -20.019699
 94          0          0          0          0          0
 95        NaN        NaN        NaN        NaN        NaN

 [96 rows x 41 columns],
 'NFLX':                                       Financial Ratio    JUN '24    MAR '24  \
 0                                       SG&A to Sales  20.028784  20.522281
 1                                    Operating Margin  23.773506  22.560054
 2                                       Pretax Margin  22.561029  21.037146
 3                                          Net Margin  19.554433  18.415681
 4                               Free Cash Flow Margin  18.794724  19.877348
 ..                                                ...        ...        ...
 87                          Net Debt/Total Equity (%)  44.618306  44.296725
 88                              Total Debt/Equity (%)  74.727189  77.281952
 89                             Net Debt/Total Capital  25.535983  24.986596
 90                           Total Debt/Total Capital  42.767923  43.592679
 91  All figures in millions of U.S. Dollar except ...        NaN        NaN

       DEC '23    SEP '23    JUN '23    MAR '23    DEC '22    SEP '22  \
 0   20.917071  21.142792  21.266293  21.456322  21.554058  21.461118
 1   20.620768  18.348609   17.50714  16.846262  17.816647  18.157566
 2   18.400944  15.565663  14.970187  14.895698   16.64981  18.350586
 3   16.036362   13.82128  13.217323   13.16105  14.207958  16.026749
 4   20.536987  17.337185  13.260402   9.193462   5.119405   2.278188
 ..        ...        ...        ...        ...        ...        ...
 87  47.765069  40.234391  36.863274  41.819045  52.331435  50.264892
 88  82.441791  75.830156  74.428569  77.678646  81.490288  80.047097
 89  26.180991  22.882531  21.133736  23.536337  28.834289  27.917636
 90  45.187997  43.126934  42.669942  43.718616  44.900633  44.458977
 91        NaN        NaN        NaN        NaN        NaN        NaN

       JUN '22  ...     DEC '16    SEP '16    JUN '16     MAR '16     DEC '15  \
 0   21.501734  ...   27.415533  27.712002  27.611957    27.80077   27.763197
 1   19.132451  ...    4.300841   3.494825    3.32289     3.59881    4.511033
 2   18.738086  ...    2.950026   2.335595    2.02082    2.000777     2.09285
 3   16.418899  ...    2.113973   1.994848   1.849572    1.767182    1.808995
 4    0.516302  ...  -17.910727 -14.933453 -12.663044  -13.083034  -12.400408
 ..        ...  ...         ...        ...        ...         ...         ...
 87  58.133902  ...   61.934809  40.756183  22.305216   12.935557    4.031931
 88  88.640596  ...  126.632995  93.871013  98.230466  102.372873  107.957809
 89  30.817281  ...    27.32824  21.022319  11.252164    6.391942    1.938822
 90  46.989141  ...   55.875798  48.419313  49.553668   50.586263   51.913323
 91        NaN  ...         NaN        NaN        NaN         NaN         NaN

        SEP '15     JUN '15     MAR '15    DEC '14    SEP '14
 0    27.534713   26.625729   25.400985  24.511032  23.579475
 1     4.828172    5.689545    6.930614   7.314681   8.082334
 2     2.587679    3.631702    5.145776   6.346791   7.273253
 3     2.528123    3.152774    4.087335   4.846788    4.46279
 4    -9.890534   -7.554373   -3.731015  -0.967236   0.366591
 ..         ...         ...         ...        ...        ...
 87   -9.672877  -19.524771  -29.211393 -36.544818 -44.456523
 88  110.735942  118.105877  125.706181  50.040157  52.177724
 89   -4.590046   -8.951969  -12.942221 -24.356691 -29.213555
 90    52.54725   54.150708   55.694612  33.351176   34.28736
 91         NaN         NaN         NaN        NaN        NaN

 [92 rows x 41 columns],
 'SO':                                       Financial Ratio     JUN '24     MAR '24  \
 0                                        Gross Margin   32.180302   30.418191
 1                                    Operating Margin   26.555445   24.808214
 2                                       Pretax Margin   20.283921   18.663205
 3                                          Net Margin    17.63603   16.696172
 4                               Free Cash Flow Margin   -3.994796   -6.255163
 ..                                                ...         ...         ...
 94                          Net Debt/Total Equity (%)  198.221825  201.860902
 95                              Total Debt/Equity (%)  201.913772  204.404762
 96                             Net Debt/Total Capital   65.655112   66.313319
 97                           Total Debt/Total Capital    66.87796   67.149003
 98  All figures in millions of U.S. Dollar except ...         NaN         NaN

        DEC '23     SEP '23     JUN '23     MAR '23     DEC '22     SEP '22  \
 0    28.594622    25.31231   23.474739   23.880648   24.230113   25.532067
 1    22.955688   19.930683   18.324835   18.960308   19.412769   20.554207
 2    17.209836    12.61426   12.599906   13.583299   14.421304   13.898015
 3    15.748624   11.563071   11.171386   11.543744    12.07238   12.180403
 4    -8.450481   -9.555911  -12.755416  -11.526576   -7.750085   -7.473932
 ..         ...         ...         ...         ...         ...         ...
 94  199.535682   193.23071  196.504956  194.893213  188.167587  173.568184
 95  201.914515  198.572203  203.426578  198.342505   194.47185  179.949811
 96   66.090126   64.718252   64.761946   65.325326   63.900026    61.99975
 97   66.878042   66.507264   67.043098   66.481477   66.040897   64.279311
 98         NaN         NaN         NaN         NaN         NaN         NaN

        JUN '22  ...     DEC '16     SEP '16     JUN '16     MAR '16  \
 0    26.475705  ...   31.038902   33.196878    33.40016   32.741117
 1    21.241641  ...   25.449839      27.433   27.609119   26.967005
 2    13.425335  ...   17.495979   19.884286   20.030931   20.385325
 3    11.755383  ...    12.65581   14.016702   13.678543   13.820951
 4    -3.324442  ...  -13.374548   -5.621964   -2.205293   -2.266959
 ..         ...  ...         ...         ...         ...         ...
 94  188.927622  ...  178.465764  169.363773  130.173248  134.380227
 95   194.87799  ...  186.215421  179.924033  173.529153  137.883293
 96   64.069761  ...   62.353651   60.503477   47.590265   56.489981
 97   66.087669  ...   65.061282   64.276022   63.440826    57.96258
 98         NaN  ...         NaN         NaN         NaN         NaN

        DEC '15     SEP '15     JUN '15     MAR '15     DEC '14     SEP '14
 0    32.201746   30.851419   30.349564   30.036589   29.877291   30.913642
 1    26.513379   25.308848   24.821309   24.542632   24.547273   25.608097
 2    20.625321   20.194769   18.349341   18.239273   16.406292   17.647059
 3    13.812974   13.661658   12.396694   12.224193   11.070869   11.764706
 4     2.470474   -3.661658   -1.580299   -2.511365   -1.794692    4.560048
 ..         ...         ...         ...         ...         ...         ...
 94  128.214269  121.639942  127.031422  119.354076   116.42315  110.868115
 95  134.799944  126.824365    130.9197  124.612256  119.791271  117.605298
 96   54.605749    53.62737   55.011081   53.137829    52.96987    50.94918
 97   57.410552   55.913026   56.694903   55.478832   54.502288   54.045237
 98         NaN         NaN         NaN         NaN         NaN         NaN

 [99 rows x 41 columns],
 'DUK':                                       Financial Ratio     JUN '24     MAR '24  \
 0                                        Gross Margin   30.490199   29.797997
 1                                    Operating Margin    25.70801   25.055169
 2                                       Pretax Margin   17.221871   16.886776
 3                                          Net Margin   15.201837   14.914276
 4                               Free Cash Flow Margin   -3.351193   -6.046512
 ..                                                ...         ...         ...
 94                          Net Debt/Total Equity (%)  166.797433  165.145002
 95                              Total Debt/Equity (%)  167.730903  166.137919
 96                             Net Debt/Total Capital   62.300404   62.052414
 97                           Total Debt/Total Capital   62.649063   62.425497
 98  All figures in millions of U.S. Dollar except ...         NaN         NaN

        DEC '23     SEP '23     JUN '23     MAR '23     DEC '22     SEP '22  \
 0    29.260151    27.98041   27.538128   27.713292   27.426307   27.431539
 1    24.442533   22.898044   22.518677   22.639755   22.330367   22.245224
 2    16.403992   14.805302   15.065239   15.561602   14.783788   15.039587
 3    14.676531   13.397719   13.519468   14.180415   13.820912   14.193361
 4    -9.325533  -15.325867  -23.520501  -21.840664  -18.889043  -16.267161
 ..         ...         ...         ...         ...         ...         ...
 94  163.536407  161.337387  162.143877  155.351198  153.359556  145.599364
 95  164.206304  162.098519  163.074918   156.35201  154.539556  146.824908
 96   61.897239   61.556009   61.634107   60.600733   60.249793   58.988927
 97    62.15079   61.846408   61.988014   60.991139   60.713375    59.48545
 98         NaN         NaN         NaN         NaN         NaN         NaN

        JUN '22  ...     DEC '16     SEP '16     JUN '16     MAR '16  \
 0    27.770897  ...    30.27477   30.549626   29.618218   28.602169
 1     22.39988  ...   25.106906   25.275703   24.362581   23.481621
 2    14.784371  ...    16.90474   17.435966   16.811788   16.802073
 3    14.615471  ...   11.345646   11.895233   11.681179   11.396074
 4    -6.380663  ...   -5.017742   -2.156706   -0.334896   -0.360107
 ..         ...  ...         ...         ...         ...         ...
 94  142.017297  ...  121.828772  108.664082  110.061411  107.828637
 95  143.266291  ...  122.784101  123.925017  111.755859  109.778903
 96   58.379357  ...    54.68468   48.526995   51.975616   51.401087
 97   58.892784  ...   55.113493   55.342194   52.775805   52.330764
 98         NaN  ...         NaN         NaN         NaN         NaN

        DEC '15     SEP '15     JUN '15     MAR '15    DEC '14     SEP '14
 0    27.791775   27.424537   26.657909   26.808088  27.381094   28.200039
 1    22.944869   22.719202   22.017882   22.118844  22.501689   23.300253
 2    17.666652   17.434683    17.43718   16.548815  10.509795     11.4964
 3    11.940044   10.167414   10.017374    9.825084   5.995947    8.157229
 4    -0.384336    2.299822    3.389974    4.507299   4.776096    4.405526
 ..         ...         ...         ...         ...        ...         ...
 94  106.589977  103.564973  101.998484   99.734477   98.70581   95.899739
 95    108.7472  107.004419  104.423951  106.606416  103.68685  100.562639
 96   51.061752    50.03032   49.895564   48.272691  48.459589   47.815356
 97   52.095166   51.691852   51.082053   51.598793  50.905029   50.140265
 98         NaN         NaN         NaN         NaN        NaN         NaN

 [99 rows x 41 columns],
 'PLD':                                       Financial Ratio    JUN '24    MAR '24  \
 0                                        Gross Margin  40.899256  44.234703
 1                                       SG&A to Sales   5.314665   4.894597
 2                                    Operating Margin  35.795302  39.605064
 3                                       Pretax Margin  41.101085  43.805501
 4                                          Net Margin   36.37293  38.729889
 ..                                                ...        ...        ...
 69                          Net Debt/Total Equity (%)  56.081618  55.744527
 70                              Total Debt/Equity (%)  57.203272  56.685649
 71                             Net Debt/Total Capital  35.674587  35.577302
 72                           Total Debt/Total Capital  36.388093  36.177946
 73  All figures in millions of U.S. Dollar except ...        NaN        NaN

       DEC '23    SEP '23    JUN '23    MAR '23    DEC '22    SEP '22  \
 0   43.974034  43.937379   46.96285  43.518569  44.391659  45.640244
 1    4.865801   4.787293   4.775252   5.460766   5.542351   5.809541
 2   38.645429  37.385804   40.75479  38.133657  39.624122  43.834607
 3   43.175626  42.703962  47.073222   45.56948  61.784404  79.897344
 4   38.128321  38.239451  42.518922  41.064418  56.327912  73.214406
 ..        ...        ...        ...        ...        ...        ...
 69   58.80701  51.130663  52.810867  47.834081  49.982527  51.085671
 70  59.804323  52.511906  53.804235  48.823007  50.505625  52.888522
 71  36.799387  33.525686   34.33642   32.14159   33.20974  33.413673
 72   37.42347  34.431348  34.982284  32.806088  33.557301  34.592866
 73        NaN        NaN        NaN        NaN        NaN        NaN

       JUN '22  ...    DEC '16    SEP '16    JUN '16    MAR '16    DEC '15  \
 0     41.7516  ...  35.717559  34.248173  30.935238  30.922566  31.180971
 1    6.054012  ...   8.766489   9.042372   9.553225   9.931695  10.841647
 2   39.851282  ...  26.763714  22.863633  18.745513   17.05932  17.303559
 3    84.01404  ...  53.179321  38.776499  40.684741  35.622063  43.175833
 4   75.725146  ...  47.764213  34.728218  35.664262  31.287526  39.572586
 ..        ...  ...        ...        ...        ...        ...        ...

In [5]:
list(financials["AAPL"]["Financial Ratio"])

['Gross Margin',
 'SG&A to Sales',
 'Operating Margin',
 'Pretax Margin',
 'Net Margin',
 'Free Cash Flow Margin',
 'Capex To Sales',
 'Return on Assets',
 'Return on Equity ',
 'Return on Common Equity',
 'Return on Total Capital',
 'Return on Invested Capital',
 'Cash Flow Return on Invested Capital',
 ' Valuation',
 'Price/Sales',
 'Price/Earnings',
 'Price/Book Value',
 'Price/Tangible Book Value',
 'Price/Cash Flow',
 'Price/Free Cash Flow',
 'Dividend Yield (%)',
 'Enterprise Value/EBIT',
 'Enterprise Value/EBITDA',
 'Enterprise Value/Sales',
 ' Per Share',
 'Sales per Share',
 'EBIT (Operating Income) per Share',
 'EPS (recurring)',
 'EPS (basic)',
 'EPS (diluted)',
 'Dividends per Share',
 'Dividend Payout Ratio (%)',
 'Book Value per Share',
 'Tangible Book Value per Share',
 'Cash Flow per Share',
 'Free Cash Flow per Share',
 'Diluted Shares Outstanding  (M) (M)',
 'Basic Shares Outstanding  (M) (M)',
 'Total Shares Outstanding  (M) (M)',
 ' Asset Turnover Analysis',
 'Cash & ST Investments',
 'Receivables',
 'Inventories',
 'Current Assets',
 'Fixed Assets',
 'Total Assets',
 ' DuPont Analysis',
 '   Asset Turnover (x)',
 '    x Pretax Margin (%)',
 ' = Pretax Return on Assets (%)',
 '    x Tax Rate Complement (1-Tax Rate) (%)',
 ' = Return on Assets (%)',
 '    x Equity Multiplier (Assets/Equity)',
 ' = Return on Equity (%)',
 '    x Earnings Retention (1-Payout) (%)',
 ' = Reinvestment Rate (%)',
 'Note: EBIT Return on Assets (%)',
 'Note: Interest as % Assets',
 ' Operating Efficiency',
 'Receivables Turnover',
 'Inventory Turnover',
 'Payables Turnover',
 'Asset Turnover ',
 'Working Capital Turnover',
 ' Operating Cycle - Days',
 '   Days of Inventory on Hand',
 '    + Days of Sales Outstanding',
 ' = Operating Cycle',
 '    - Days of Payables Outstanding',
 ' = Net Operating Cycle',
 ' Liquidity',
 'Current Ratio (x)',
 'Quick Ratio (x)',
 'Cash Ratio',
 'Cash & ST Inv/Current Assets',
 'CFO/Current Liabilities',
 ' Coverage',
 'Net Debt/EBITDA',
 'Net Debt/(EBITDA-Capex)',
 'Total Debt/EBITDA',
 'EBIT/Interest Expense (Int. Coverage)',
 'EBITDA/Interest Expense',
 'Fixed-charge Coverage Ratio',
 'CFO/Interest Expense',
 'Cash Dividend Coverage Ratio',
 'LT Debt/EBITDA',
 'Net Debt/FFO',
 'LT Debt/FFO',
 'CFO/Total Debt',
 'EBITDA-Capex/Interest Expense',
 ' Leverage',
 'LT Debt/Total Equity',
 'LT Debt/Total Capital',
 'LT Debt/Total Assets',
 'Total Debt/Total Assets (%)',
 'Net Debt/Total Equity (%)',
 'Total Debt/Equity (%)',
 'Net Debt/Total Capital',
 'Total Debt/Total Capital',
 'All figures in billions of U.S. Dollar except per share and labeled items.']

In [6]:
list(financials["V"]["Financial Ratio"])

['SG&A to Sales',
 'Operating Margin',
 'Pretax Margin',
 'Net Margin',
 'Free Cash Flow Margin',
 'Capex To Sales',
 'Return on Assets',
 'Return on Equity ',
 'Return on Common Equity',
 'Return on Total Capital',
 'Return on Invested Capital',
 'Cash Flow Return on Invested Capital',
 ' Valuation',
 'Price/Sales',
 'Price/Earnings',
 'Price/Book Value',
 'Price/Tangible Book Value',
 'Price/Cash Flow',
 'Price/Free Cash Flow',
 'Dividend Yield (%)',
 'Enterprise Value/EBIT',
 'Enterprise Value/EBITDA',
 'Enterprise Value/Sales',
 ' Per Share',
 'Sales per Share',
 'EBIT (Operating Income) per Share',
 'EPS (recurring)',
 'EPS (basic)',
 'EPS (diluted)',
 'Dividends per Share',
 'Dividend Payout Ratio (%)',
 'Book Value per Share',
 'Tangible Book Value per Share',
 'Cash Flow per Share',
 'Free Cash Flow per Share',
 'Diluted Shares Outstanding  (M)',
 'Basic Shares Outstanding  (M)',
 'Total Shares Outstanding  (M)',
 ' Asset Turnover Analysis',
 'Cash & ST Investments',
 'Receivables',
 'Current Assets',
 'Fixed Assets',
 'Total Assets',
 ' DuPont Analysis',
 '   Asset Turnover (x)',
 '    x Pretax Margin (%)',
 ' = Pretax Return on Assets (%)',
 '    x Tax Rate Complement (1-Tax Rate) (%)',
 ' = Return on Assets (%)',
 '    x Equity Multiplier (Assets/Equity)',
 ' = Return on Equity (%)',
 '    x Earnings Retention (1-Payout) (%)',
 ' = Reinvestment Rate (%)',
 'Note: EBIT Return on Assets (%)',
 'Note: Interest as % Assets',
 ' Operating Efficiency',
 'Receivables Turnover',
 'Payables Turnover',
 'Asset Turnover ',
 'Working Capital Turnover',
 ' Operating Cycle - Days',
 '   Days of Inventory on Hand',
 '    + Days of Sales Outstanding',
 ' = Operating Cycle',
 '    - Days of Payables Outstanding',
 ' Liquidity',
 'Current Ratio (x)',
 'Quick Ratio (x)',
 'Cash Ratio',
 'Cash & ST Inv/Current Assets',
 'CFO/Current Liabilities',
 ' Coverage',
 'Net Debt/EBITDA',
 'Net Debt/(EBITDA-Capex)',
 'Total Debt/EBITDA',
 'EBIT/Interest Expense (Int. Coverage)',
 'EBITDA/Interest Expense',
 'Fixed-charge Coverage Ratio',
 'CFO/Interest Expense',
 'Cash Dividend Coverage Ratio',
 'LT Debt/EBITDA',
 'Net Debt/FFO',
 'LT Debt/FFO',
 'CFO/Total Debt',
 'EBITDA-Capex/Interest Expense',
 ' Leverage',
 'LT Debt/Total Equity',
 'LT Debt/Total Capital',
 'LT Debt/Total Assets',
 'Total Debt/Total Assets (%)',
 'Net Debt/Total Equity (%)',
 'Total Debt/Equity (%)',
 'Net Debt/Total Capital',
 'Total Debt/Total Capital',
 'All figures in millions of U.S. Dollar except per share items.']

In [7]:
stocks = ['MSFT', 'V', 'NFLX', 'SO', 'DUK', 'PLD', 'VZ', 'T', 'CVX', 'VMC', 'NVDA', 'GE', 'KO', 'JNJ', 'GS', 'HD', 'AMD', 'ADM', 'META', 'GOOGL', 'TSLA', 'JPM', 'XOM', 'AAPL']
column_name = "Financial Ratio" 
reference_column = list(financials[stocks[0]][column_name])

all_equal = True

for stock in stocks[1:]:
    current_column = list(financials[stock][column_name])
    
    if current_column != reference_column:
        all_equal = False
        print(f"Las columnas no son iguales para {stock}.")
        break

if all_equal:
    print("La columna es igual para todos los tickers.")
else:
    print("Las columnas no son iguales entre todos los tickers.")

Las columnas no son iguales para V.
Las columnas no son iguales entre todos los tickers.

In [8]:
stocks = ["MSFT", "AAPL", "GOOGL"] 
column_name = "Financial Ratio"      
common_items = set(financials[stocks[0]][column_name])
for stock in stocks[1:]:
    current_items = set(financials[stock][column_name])
    common_items = common_items.intersection(current_items)
if common_items:
    print(f"Los siguientes tems son comunes en todos los tickers: {common_items}")
else:
    print("No hay tems comunes en todos los tickers.")

Los siguientes tems son comunes en todos los tickers: {'Cash Dividend Coverage Ratio', 'LT Debt/FFO', 'Tangible Book Value per Share', 'Return on Common Equity', 'Working Capital Turnover', 'Total Assets', ' = Net Operating Cycle', 'Cash Flow Return on Invested Capital', 'Current Ratio (x)', 'Pretax Margin', 'LT Debt/EBITDA', ' Operating Efficiency', 'Dividend Yield (%)', 'All figures in billions of U.S. Dollar except per share and labeled items.', 'CFO/Current Liabilities', 'Price/Tangible Book Value', 'CFO/Interest Expense', 'Free Cash Flow Margin', 'EBITDA/Interest Expense', 'Net Debt/(EBITDA-Capex)', 'Dividends per Share', 'Net Debt/Total Capital', 'Price/Cash Flow', 'EPS (basic)', ' Operating Cycle - Days', 'LT Debt/Total Capital', 'Net Debt/FFO', 'Total Debt/Equity (%)', 'Diluted Shares Outstanding  (M) (M)', 'Net Debt/Total Equity (%)', 'Fixed-charge Coverage Ratio', 'LT Debt/Total Equity', ' = Return on Equity (%)', 'Operating Margin', 'Return on Assets', 'Enterprise Value/EBITDA', 'Cash & ST Investments', 'Return on Invested Capital', ' = Pretax Return on Assets (%)', ' Per Share', 'LT Debt/Total Assets', ' = Operating Cycle', 'Gross Margin', 'Asset Turnover ', 'Total Debt/Total Assets (%)', '    x Tax Rate Complement (1-Tax Rate) (%)', ' = Return on Assets (%)', 'Capex To Sales', 'Inventories', '   Days of Inventory on Hand', 'Price/Sales', 'Fixed Assets', 'Total Debt/EBITDA', 'EBIT/Interest Expense (Int. Coverage)', 'Enterprise Value/Sales', 'EPS (recurring)', '    - Days of Payables Outstanding', ' DuPont Analysis', '   Asset Turnover (x)', ' = Reinvestment Rate (%)', 'Book Value per Share', 'CFO/Total Debt', ' Leverage', ' Asset Turnover Analysis', ' Liquidity', 'Total Shares Outstanding  (M) (M)', 'Quick Ratio (x)', 'Return on Total Capital', 'Dividend Payout Ratio (%)', '    x Earnings Retention (1-Payout) (%)', 'Note: EBIT Return on Assets (%)', 'Enterprise Value/EBIT', 'Cash Flow per Share', 'Price/Earnings', 'Current Assets', 'Price/Book Value', 'Inventory Turnover', 'Price/Free Cash Flow', 'Receivables', '    x Pretax Margin (%)', '    x Equity Multiplier (Assets/Equity)', 'Return on Equity ', ' Coverage', 'Net Debt/EBITDA', '    + Days of Sales Outstanding', 'Free Cash Flow per Share', 'Total Debt/Total Capital', 'Note: Interest as % Assets', 'SG&A to Sales', 'Cash Ratio', 'Net Margin', 'Payables Turnover', ' Valuation', 'Sales per Share', 'EPS (diluted)', 'Receivables Turnover', 'EBIT (Operating Income) per Share', 'Cash & ST Inv/Current Assets', 'Basic Shares Outstanding  (M) (M)', 'EBITDA-Capex/Interest Expense'}

In [9]:
offensive_tickers = ['MSFT', 'V', 'NFLX', 'SO', 'DUK', 'PLD', 'VZ', 'T', 'CVX', 'VMC', 'NVDA', 'GE',
  'KO', 'JNJ', 'GS', 'HD', 'AMD', 'ADM', 'META', 'GOOGL', 'TSLA', 'JPM', 'XOM', 'AAPL']  
defensive_tickers = ['JNJ', 'PG']      
protective_tickers = ['MSFT', 'V', 'NFLX', 'SO', 'DUK', 'PLD', 'VZ', 'T', 'CVX', 'VMC', 'NVDA', 'GE',
  'KO', 'JNJ', 'GS', 'HD', 'AMD', 'ADM', 'META', 'GOOGL', 'TSLA', 'JPM', 'XOM', 'AAPL']

In [10]:
strategy = TestStrategy(prices, financials, offensive_tickers, defensive_tickers, protective_tickers)
chosen_universe = strategy.run_strategy(start_date='2014-01-09')

C:\Users\Usuario\Documents\Git\New_Asset_Allocation\Functions.py:111: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  price_data = self.prices[ticker].resample('M').last()

In [12]:
chosen_universe

         Date Chosen Universe
0  2015-01-09       Defensive
1  2015-07-09       Offensive
2  2016-01-09       Offensive
3  2016-07-09       Offensive
4  2017-01-09       Offensive
5  2017-07-09       Offensive
6  2018-01-09       Offensive
7  2018-07-09       Offensive
8  2019-01-09       Defensive
9  2019-07-09       Offensive
10 2020-01-09       Offensive
11 2020-07-09       Offensive
12 2021-01-09       Offensive
13 2021-07-09       Offensive
14 2022-01-09       Offensive
15 2022-07-09       Defensive
16 2023-01-09       Defensive
17 2023-07-09       Offensive
18 2024-01-09       Offensive
19 2024-07-09       Offensive

In [16]:
chosen_universe["Chosen Universe"].value_counts()

Chosen Universe
Offensive    16
Defensive     4
Name: count, dtype: int64

In [11]:
strategy.momentum_data

AttributeError: 'TestStrategy' object has no attribute 'momentum_data'