In [1]:
from Functions import LoadData
from Functions import TestStrategy
from Functions import Backtesting
import os

In [2]:
current_directory = os.getcwd()
path = os.path.join(current_directory, 'Stocks_financials')

loader = LoadData(path)
prices, financials = loader.Load(start_date='2014-09-01', end_date=None)

Data processed for the following tickers: AAPL, ADM, AMD, CAT, CVX, DUK, GE, GOOGL, GS, HD, JNJ, JPM, KO, META, MSFT, NFLX, NVDA, PLD, SO, T, TRYIY, TSLA, V, VMC, VZ, XOM
Downloading data for AAPL...

[*********************100%%**********************]  1 of 1 completed

Downloading data for ADM...

[*********************100%%**********************]  1 of 1 completed

Downloading data for AMD...

[*********************100%%**********************]  1 of 1 completed

Downloading data for CAT...

[*********************100%%**********************]  1 of 1 completed

Downloading data for CVX...

[*********************100%%**********************]  1 of 1 completed

Downloading data for DUK...

[*********************100%%**********************]  1 of 1 completed

Downloading data for GE...

[*********************100%%**********************]  1 of 1 completed

Downloading data for GOOGL...

[*********************100%%**********************]  1 of 1 completed

Downloading data for GS...

[*********************100%%**********************]  1 of 1 completed

Downloading data for HD...

[*********************100%%**********************]  1 of 1 completed

Downloading data for JNJ...

[*********************100%%**********************]  1 of 1 completed

Downloading data for JPM...

[*********************100%%**********************]  1 of 1 completed

Downloading data for KO...

[*********************100%%**********************]  1 of 1 completed

Downloading data for META...

[*********************100%%**********************]  1 of 1 completed

Downloading data for MSFT...

[*********************100%%**********************]  1 of 1 completed

Downloading data for NFLX...

[*********************100%%**********************]  1 of 1 completed

Downloading data for NVDA...

[*********************100%%**********************]  1 of 1 completed

Downloading data for PLD...

[*********************100%%**********************]  1 of 1 completed

Downloading data for SO...

[*********************100%%**********************]  1 of 1 completed

Downloading data for T...

[*********************100%%**********************]  1 of 1 completed

Downloading data for TRYIY...

[*********************100%%**********************]  1 of 1 completed

Downloading data for TSLA...

[*********************100%%**********************]  1 of 1 completed

Downloading data for V...

[*********************100%%**********************]  1 of 1 completed

Downloading data for VMC...

[*********************100%%**********************]  1 of 1 completed

Downloading data for VZ...

[*********************100%%**********************]  1 of 1 completed

Downloading data for XOM...

[*********************100%%**********************]  1 of 1 completed

In [3]:
financials['NVDA']

,Financial Ratio,2024-07,2024-04,2024-01,2023-10,2023-07,2023-04,2023-01,2022-10,2022-07,...,2002-07,2002-04,2002-01,2001-10,2001-07,2001-04,2001-01,2000-10,2000-07,2000-04
0,Gross Margin,75.976824,75.286434,72.717573,69.852908,64.624705,56.314244,56.928894,57.837989,60.447912,...,34.462089,36.61972,37.280892,37.401918,37.767962,37.530883,37.424109,37.40397,37.479678,37.313539
1,SG&A to Sales,14.110085,15.442375,18.597551,23.911299,31.584101,38.936548,36.249722,32.31464,28.969668,...,17.601346,17.009029,18.335912,19.828844,20.027486,19.923573,19.703807,NaN,NaN,NaN
2,Operating Margin,61.866739,59.844059,54.120022,45.941609,33.040605,17.377695,20.679173,25.523349,31.478243,...,16.46803,19.179652,18.406304,17.276373,17.74015,17.606948,17.719894,17.362173,16.631365,15.703033
3,Pretax Margin,63.464753,61.283125,55.510325,46.804101,33.94021,17.721617,15.503818,20.15683,26.171901,...,15.675576,19.569556,18.470855,17.840132,18.730914,18.970948,19.987923,19.014998,17.819752,16.309268
4,Net Margin,55.040651,53.397097,48.847707,42.094941,31.59328,18.521524,16.193371,20.853462,26.030668,...,10.972919,13.698666,12.929591,12.40435,12.922228,12.989647,13.591989,12.930112,12.117182,11.090117
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Net Debt/Total Equity (%),-42.617398,-41.107403,-34.73405,-21.806704,-18.432057,-13.213703,-5.723723,-6.534264,-22.409962,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,Total Debt/Equity (%),17.220627,22.866387,25.724789,33.148955,39.831279,49.265905,54.436451,55.028339,49.021005,...,35.486321,35.5587,40.553718,50.923136,57.943101,64.912281,74.181813,83.361413,0.861759,1.537126
97,Net Debt/Total Capital,-36.356569,-33.456997,-27.62705,-16.377675,-13.181641,-8.852459,-3.706199,-4.214884,-15.038123,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,Total Debt/Total Capital,14.690782,18.610775,20.461191,24.896144,28.485242,33.005464,35.248447,35.495664,32.895366,...,26.191811,26.231219,28.852825,33.741106,36.68606,39.361702,42.588725,45.462898,0.854397,1.513856
99,All figures in millions of U.S. Dollar except ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN